<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Committment</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="text-center bg-primary custom-container">
        <div>
              <h3>When you work with the Fulton team, you’re hiring a team that’s <b>obsessed</b> with making your guests look amazing.</h3>
            <br>
              <h3>We commit to <b>soft-lighting</b> and <b>social media ready</b> pictures at every event</h3>
            <br>
        </div>
    </div> 

    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Difference</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

<section class="no-padding" id="portfolio(s)">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Studio Quality</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                We run every event with x2 XYZ softbox lights, x1 light diffuser, professional DSLRs, and glam backdrops to make our guests shine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Soft Lighting</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                We configure our open-air booths with soft, studio light to minimize blemishes and reduce sharp features in our photography 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Art Direction</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Eyes closed, limbs awkwardly placed, group members out of frame? We will let you know!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Hollywood Props</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Did you know the Fulton team has a background in selling period props to Hollywood? Expect to use unique, authentic, and vintage props for your event. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Our Booth</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Our booths are custom made with antique camera components and a hand-made wood frame to bring style and charm to every event
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Social Media</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                We are a young and passionate team! We are committed to making you look the best you can for social media 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>





<!-- 
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center img-gallery-column">
        <div class="image-container">
            <img class="img-gallery" src="img/portfolio/3.jpg" alt="Sample Image">
        </div>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-column-container">
        <div class="dark-font">
            <h3><b>Studio Quality<b></h3>
            <h3 class="grey-font">We run each event with x2 XYZ softbox light, x1 canon diffuser, professional DSLRs, and pastel backdrops to accentuate our guests' best features</h3>
            <br>
            <a href="#" class="btn btn-custom btn-xl wow tada">View Equipment!</a>
        </div>
    </div>
</section>  -->


  

        

