<section>
<div class="text-center">
    <h2>Our packages, <b>right sized</b> for your event</h2>
</div>
<br>

    <div class="standard-container text-center">
        <div class="column drop-shadow-box">
          <i class="fa fa-4x fa-solid fa-star wow bounceIn text-primary"></i>
          <h3><b>Gold</b></h3>
          <h4>$499</h4>
          <br>
          <ul>
            <li><span class="text-dark"><h4><b>3 Hour</b> Event Service</h4></span></li>
            <li><span class="text-dark"><h4>Unlimited Prints</h4></span></li>
            <li><span class="text-dark"><h4>Digital Distribution</h4></span></li>
            <li><span class="text-dark"><h4>Standard Backdrops</h4></span></li>
            <li><span class="text-dark"><h4>(1) Prop Theme</h4></span></li>
            <li><span class="text-dark"><h4>Studio Lighting</h4></span></li>
          </ul>
          <br>
          <a href="#" class="btn btn-custom btn-xl wow tada">Download Now!</a>
        </div>
        <div class="column drop-shadow-box">
          <i class="fa fa-4x fa-solid fa-fire wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3><b>Platinum</b></h3>
          <h4>$699</h4>
          <br>
          <ul>
            <li><span class="text-dark"><h4><b>4 Hour</b> Event Service</h4></span></li>
            <li><span class="text-dark"><h4>Unlimited Prints</h4></span></li>
            <li><span class="text-dark"><h4>Digital Distribution</h4></span></li>
            <li><span class="text-dark"><h4>Post Event Mailers</h4></span></li>
            <li><span class="text-dark"><h4>Premium Backdrops</h4></span></li>
            <li><span class="text-dark"><h4>(2) Prop Themes</h4></span></li>
            <li><span class="text-dark"><h4>Studio Lighting</h4></span></li>
          </ul>
          <br>
          <a href="#" class="btn btn-custom btn-xl wow tada">Download Now!</a>
        </div>
        <div class="column drop-shadow-box">
          <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3><b>Diamond</b></h3>
          <h4>$899</h4>
          <br>
          <ul>
            <li><span class="text-dark"><h4><b>5 Hour</b> Event Service</h4></span></li>
            <li><span class="text-dark"><h4>Unlimited Prints</h4></span></li>
            <li><span class="text-dark"><h4>Digital Distribution</h4></span></li>
            <li><span class="text-dark"><h4>Post Event Mailers</h4></span></li>
            <li><span class="text-dark"><h4>Take Home Canvas</h4></span></li>
            <li><span class="text-dark"><h4>Premium Backdrops</h4></span></li>
            <li><span class="text-dark"><h4>(3) Prop Themes</h4></span></li>
            <li><span class="text-dark"><h4>Studio & Glam Lighting</h4></span></li>
          </ul>
          <br>
          <a href="#" class="btn btn-custom btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</section>

<div class="text-center bg-primary custom-container">
    <div>
      <h3>What standard photo delivery is included in <b>every photobooth package</b>?</h3>
    </div>
  </div> 

<div class="standard-container text-center">
    <div class="column">
      <h3><b>Unlimited Onsite Printing</b></h3>
      <br>
      <img class="sized-image responsive-image" src="img/other/photostrip_1.png" alt="Sample Image">
      <h4>Choose between 2x6 and 4x6 print outs on custom photo layouts with your event name and logo<h4>
    </div>
    <div class="column">
      <h3><b>90 Day Digital Downloads</b></h3>
      <br>
      <img class="sized-image responsive-image" src="img/other/simplebooth_edited.jpg" alt="Sample Image">
      <h4>Guests can select onsite text delivery of their photos or download their event photos 90 days post event<h4>
    </div>
</div>

    <br>
    <br>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Booth</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<section class="no-padding" id="portfolio(s)">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Studio Quality</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                We run every event with x2 XYZ softbox lights, x1 light diffuser, professional DSLRs, and glam backdrops to make our guests shine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Soft Lighting</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                We configure our open-air booths with soft, studio light to minimize blemishes and reduce sharp features in our photography 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Art Direction</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Eyes closed, limbs awkwardly placed, group members out of frame? We will let you know!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Hollywood Props</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Did you know the Fulton team has a background in selling period props to Hollywood? Expect to use unique, authentic, and vintage props for your event. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Our Booth</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                Our booths are custom made with antique camera components and a hand-made wood frame to bring style and charm to every event
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                <b>Social Media</b>
                            </div>
                            <br>
                            <div class="project-category text-faded">
                                We are a young and passionate team! We are committed to making you look the best you can for social media 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>






<!-- 
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center img-gallery-column">
        <div class="image-container">
            <img class="img-gallery" src="img/portfolio/3.jpg" alt="Sample Image">
        </div>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-column-container">
        <div class="dark-font">
            <h3><b>Studio Quality<b></h3>
            <h3 class="grey-font">We run each event with x2 XYZ softbox light, x1 canon diffuser, professional DSLRs, and pastel backdrops to accentuate our guests' best features</h3>
            <br>
            <a href="#" class="btn btn-custom btn-xl wow tada">View Equipment!</a>
        </div>
    </div>
</section>  -->


  

        

