<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Right sized packages for your event</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-star wow bounceIn text-primary"></i>
                    <h3><b>Gold</b></h3>
                    <h4>$499</h4>
                    <br>
                    <ul>
                        <li><span class="text-muted"><h4><b>3 Hour</b> Event Service</h4></span></li>
                        <li><span class="text-muted"><h4><b>Unlimited Prints</b></h4></span></li>
                        <li><span class="text-muted"><h4>Digital Distribution</h4></span></li>
                        <li><span class="text-muted"><h4>Backdrops & Props</h4></span></li>
                        <li><span class="text-muted"><h4>Studio Lighting</h4></span></li>
                    </ul>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-fire wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><b>Platinum</b></h3>
                    <h4>$599</h4>
                    <br>
                    <ul>
                        <li><span class="text-muted"><h4><b>3 Hour</b> Event Service</h4></span></li>
                        <li><span class="text-muted"><h4><b>Unlimited Prints</b></h4></span></li>
                        <li><span class="text-muted"><h4>Digital Distribution</h4></span></li>
                        <li><span class="text-muted"><h4>Backdrops & Props</h4></span></li>
                        <li><span class="text-muted"><h4>Studio Lighting</h4></span></li>
                    </ul>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><b>Diamond</b></h3>
                    <h4>$699</h4>
                    <br>
                    <ul>
                        <li><span class="text-muted"><h4><b>3 Hour</b> Event Service</h4></span></li>
                        <li><span class="text-muted"><h4><b>Unlimited Prints</b></h4></span></li>
                        <li><span class="text-muted"><h4>Digital Distribution</h4></span></li>
                        <li><span class="text-muted"><h4>Backdrops & Props</h4></span></li>
                        <li><span class="text-muted"><h4>Studio Lighting</h4></span></li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Packages & Pricing</a>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>
